@charset "UTF-8";

/* Variables */

/* Home Variables */

/* Home Nav */

/* Home Nav */

header h5 {
  color: #74283C;
  text-align: center;
  font-family: "Merriweather", serif;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

header .nav-media {
  text-align: center;
}

header .nav-media a {
  font-size: 30px;
  color: #74283C;
  margin-right: 3px;
}

.navbar {
  border-top: 2px solid #74283C;
  border-bottom: 2px solid #74283C;
}

.navbar .navbar-brand img {
  width: 170px;
  position: absolute;
  margin-top: -129px;
}

.navbar a {
  color: #74283C;
  font-family: "Merriweather", serif;
  font-weight: 500;
}

.navbar a:hover {
  font-weight: 500;
  color: #74283C;
}

.navbar .active a {
  font-weight: 500;
}

.navbar-mobile {
  display: none !important;
}

.navbar-space {
  display: none !important;
}

@media (max-width: 991.98px) {
  header {
    display: none !important;
  }

  .navbar {
    border-top: none;
    text-align: center;
  }

  .navbar .navbar-brand {
    margin: 0 auto;
    padding: 0;
  }

  .navbar .navbar-brand img {
    width: 65px;
    position: static;
    margin-top: auto;
    margin-left: 66px;
  }

  .navbar .navbar-toggler-icon {
    width: 40px;
  }

  .navbar .navbar-toggler-icon .icon-bar {
    width: 100%;
    height: 2px;
    margin-bottom: 12px;
    background-color: #74283C;
  }

  .navbar .navbar-nav {
    margin-top: 12px;
  }

  .navbar-space {
    display: block !important;
    height: 83px;
  }

  .navbar-pc {
    display: block !important;
  }

  .navbar-mobile {
    display: none !important;
  }
}

/* Home Body */

/* Home Body */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

p {
  color: #606060;
  font-family: "Merriweather", serif;
}

.capa-home {
  width: 100%;
  height: 450px;
  background-image: url("/images/capa-home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.capa-home h1 {
  color: #FFFFFF;
  padding-top: 4rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  width: 380px;
  font-style: italic;
}

.capa-home h5 {
  color: #FFFFFF;
}

.footer-home h4 {
  font-weight: 600;
  color: #74283C;
  text-align: center;
  border: 2px solid #D8D8D8;
  border-radius: 5px;
  padding: 0.8rem 0;
  margin: 1rem 0 2rem;
}

.footer-home .col {
  padding: 0;
}

.footer-home .home-bola {
  text-align: center;
  margin-left: -70px;
}

.footer-home .home-bola h5 {
  font-weight: 700;
  color: #74283C;
  text-align: center;
  font-family: "Exo", sans-serif;
  margin: 1rem 0 2rem;
}

.footer-home .home-bola img {
  border-radius: 50%;
  width: 150px;
}

.footer-home .footer-home-right {
  text-align: left;
}

.footer-home .footer-home-right h6 {
  margin-top: 0rem;
  margin-bottom: 0.8rem;
  color: #74283C;
  font-family: "Merriweather", serif;
  font-weight: 600;
  font-size: 1rem;
  margin-left: 8px;
}

.footer-home .footer-home-right a,
.footer-home .footer-home-right a:visited,
.footer-home .footer-home-right a:hover,
.footer-home .footer-home-right a:active {
  color: #74283C;
  font-family: "Merriweather", serif;
  font-size: 15px;
  text-decoration: none;
  line-height: 2;
  display: block;
}

.footer-home .footer-home-right a i,
.footer-home .footer-home-right a:visited i,
.footer-home .footer-home-right a:hover i,
.footer-home .footer-home-right a:active i {
  font-size: 22px;
  position: relative;
  top: 3px;
  width: 40px;
  text-align: center;
}

@media (max-width: 991.98px) {
  .capa-home {
    height: 350px;
  }

  .capa-home .container {
    padding: 0 0 0 1.5rem;
  }

  .capa-home h1 {
    width: 200px;
    padding-top: 1.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .capa-home h5 {
    font-size: 1rem;
  }

  .footer-home {
    padding-bottom: 1.5rem;
    padding-top: 1rem;
  }

  .footer-home h4 {
    font-size: 1.1rem;
    margin-top: 1.5rem;
  }

  .footer-home .home-bola {
    margin-left: 0px;
    padding: 0 20px;
  }

  .footer-home .footer-home-right {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    border-top: 2px solid #74283C;
  }
}

/* Home Footer */

/* Home Footer */

.footer {
  border-top: 2px solid #74283C;
  text-align: center;
  padding: 1.5rem 0;
}

.footer h6 {
  margin-top: 0rem;
  margin-bottom: 1rem;
  color: #74283C;
  font-family: "Merriweather", serif;
  font-weight: 600;
  font-size: 1.1rem;
}

.footer a,
.footer a:visited,
.footer a:hover,
.footer a:active {
  color: #74283C;
  font-family: "Merriweather", serif;
  font-size: 0.95rem;
  text-decoration: none;
  line-height: 2.5;
}

.footer a i,
.footer a:visited i,
.footer a:hover i,
.footer a:active i {
  font-size: 25px;
  position: relative;
  top: 3px;
  margin-right: 7px;
}

.footer-pc a:nth-child(2),
.footer-pc a:nth-child(3),
.footer-pc a:nth-child(5) {
  margin-right: 10px;
}

.footer-mobile {
  display: none !important;
}

.nav {
  border-top: 2px solid #74283C;
  padding: .5rem 1rem;
}

.nav a {
  color: #74283C;
  font-family: "Merriweather", serif;
  font-weight: 500;
}

.nav a:hover {
  font-weight: 500;
  color: #74283C;
}

.nav .active a {
  font-weight: 500;
}

.nav-mobile {
  display: none !important;
}

@media (max-width: 991.98px) {
  .footer-mobile {
    display: block !important;
  }

  .footer-pc {
    display: none !important;
  }

  .nav-mobile {
    display: block !important;
  }

  .nav-pc {
    display: none !important;
  }

  .footer {
    text-align: left;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
  }

  .footer h6 {
    font-size: 1.1rem;
    margin-top: 0rem;
    margin-left: 8px;
  }

  .footer a,
  .footer a:visited,
  .footer a:hover,
  .footer a:active {
    font-size: 15px;
    line-height: 2;
    display: block;
  }

  .footer a i,
  .footer a:visited i,
  .footer a:hover i,
  .footer a:active i {
    font-size: 22px;
    position: relative;
    top: 3px;
    width: 40px;
    margin-right: 0;
    text-align: center;
  }

  .nav li {
    text-align: center;
  }
}

/* Espaço Body */

/* Espaço Body */

.espaco-mobile {
  display: none !important;
}

.carousel-espaco {
  margin-top: 4rem;
}

.col-espaco {
  padding: 0 1.5rem;
  margin-bottom: 4rem;
}

.col-espaco h4 {
  color: #74283C;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

blockquote p {
  color: #74283C;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  margin-top: 3rem;
}

.blockquote-footer {
  color: #74283C;
  font-family: "Merriweather", serif;
  font-size: 0.9rem;
}

@media (max-width: 991.98px) {
  .espaco-pc {
    display: none !important;
  }

  .espaco-mobile {
    display: block !important;
  }

  .col-espaco {
    margin-bottom: 2rem;
  }

  .col-espaco h4 {
    margin-top: 2rem;
  }

  .carousel-espaco {
    margin-top: 2rem;
  }
}

