.contato {
	.footer {
		border-top: none;

		a, a:visited, a:hover, a:active {
			text-decoration: none;
			i {
				color: $cor-vinho;
			}
		}
	}

	#map {
		height: 400px;
		@include media-breakpoint-down(md) {
			height: 300px;
		}
		width: 100%;
		border-radius: 5px;
	}

	.programacao-interno {
		form {
			width: 100%;
		}
	}

	.footer-mobile {
		padding-left: 0;
	}

	.forms {
		p {
			font-size: 1.1rem;
		}
	}
}