.contato {
	.footer {
		border-top: none;

		a, a:visited, a:hover, a:active {
			text-decoration: none;
			i {
				color: $cor-vinho;
			}
		}
	}

	#map-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 400px;
            width: 100%;

            iframe {
                width: 760px;
                height: 400px;
                @include media-breakpoint-down(md) {
                    width: 300px;
                    height: 300px;
                }
            }

            @include media-breakpoint-down(md) {
                height: 300px;
            }
            border-radius: 5px;
	}

	.programacao-interno {
		form {
			width: 100%;
		}
	}

	.footer-mobile {
		padding-left: 0;
	}

	.forms {
		p {
			font-size: 1.1rem;
		}
	}
}
