/* Espaço Body */

.espaco-mobile { 
    display: none !important; 
    img {
        border-radius:10px;
    }
}

.espaco-pc {
    img {
        border-radius:10px;
    }
}

.carousel-espaco {
	margin-top: 4rem;
}

.col-espaco {
	padding: 0 1.5rem;
	margin-bottom: 4rem;
	h4 {
		color: $cor-vinho;
		margin-top: 4rem;
		margin-bottom: 2rem;
	}
}

blockquote p {
	color: $cor-vinho;
	font-family: $font-merri;
	font-size: 1rem;
	font-weight: 600;
	font-style: italic;
	margin-top: 3rem;
}

.blockquote-footer {
	color: $cor-vinho;
	font-family: $font-merri;
	font-size: 0.9rem;
}

@media (max-width: 991.98px) {
	.espaco-pc { display: none !important; }
	.espaco-mobile { display: block !important; }


	.col-espaco {
		margin-bottom: 2rem;
		h4 {
			margin-top: 2rem;
		}
	}

	.carousel-espaco {
		margin-top: 2rem;
	}
}
