/* Home Footer */

.footer {
	border-top: 2px solid $cor-1;
	text-align: center;
	padding: 1.5rem 0;

	h6 {
		margin-top: 0rem;
		margin-bottom: 1rem;
		color: $cor-1;
		font-family: $font-merri;
		font-weight: 600;
		font-size: 1.1rem;
	}

	a, a:visited, a:hover, a:active {
		color: $cor-1;
		font-family: $font-merri;
		font-size: 0.95rem;
		text-decoration: none;
		line-height: 2.5;

		i {
			font-size: 25px;
			position: relative;
			top: 3px;
			margin-right: 7px;
		}
	}
}

.footer-pc {
	a:nth-child(2), a:nth-child(3), a:nth-child(5) {
		margin-right: 10px;
	}
}

.footer-mobile {
	display: none !important;
	text-align: left;

	h6 {
		text-align: center;
	}

	a {
		display: block;
		margin-left: 20px;
	}
}

.nav {
	border-top: 2px solid $cor-1;
	padding: .5rem 1rem;

	a {
		color: $cor-1;
		font-family: $font-merri;
		font-weight: 500;

		&:hover {
			font-weight: 500;
			color: $cor-1;
		}
	}

	.active a {
		font-weight: 500;
	}
}

.nav-mobile {
	display: none !important;
}

@media (max-width: 991.98px) {
	.footer-mobile { display: block !important;	}
	.footer-pc { display: none !important; }

	.nav-mobile { display: block !important;	}
	.nav-pc { display: none !important; }

	.nav {
		li {
			text-align: center;
		}
	}
}