/* Home Variables */

$font-exo: 'Exo', sans-serif;
$font-sans: 'Open Sans', sans-serif;
$font-merri: 'Merriweather', serif;

$cor-vinho: #74283C;
$cor-chumbo: #606060;
$cor-cinza: #D8D8D8;
$cor-branco: #FFFFFF;