/* Home Footer */

.footer {
	border-top: 3px solid $cor-1;
	text-align: center;

	h6 {
		margin-top: 1rem;
		margin-bottom: 1rem;
		color: $cor-1;
		font-family: $font-merri;
		font-weight: 600;
	}

	p {
		color: $cor-1;
		font-family: $font-merri;
		font-size: 0.9rem;

		&:nth-child(2) {
			margin-bottom: 0.6rem;
		}
	}
}

.nav {
	border-top: 3px solid $cor-1;
	padding: .5rem 1rem;

	a {
		color: $cor-1;
		font-family: $font-merri;
		font-weight: 500;

		&:hover {
			font-weight: 700;
			color: $cor-1;
		}
	}

	.active a {
		font-weight: 700;
	}
}