.quem-somos-pessoal {
    padding-bottom: 3rem;

    .bloco-descricao {
        margin: 1rem auto;
    }

    h4 {
        color: $cor-vinho;
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 1.5rem;
    }

    h5 {
        color: $cor-vinho;
        margin-bottom: 1rem;		
    }

    .foto-pessoal {
        margin: 0 auto 2rem;
    }

    blockquote {
        margin-bottom: 3rem;
    }

    .titulo-borda {
        border: 2px solid $cor-vinho;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        margin: 2rem auto;
        width: 500px;
    }

    .tabela-horarios {
        width: 100%;
    }
}

@include media-breakpoint-down(md) {
    .quem-somos-pessoal {
        h4 {
            margin: 2rem 0;
        }

        h5 {
            text-align: center;
        }

        .foto-pessoal {
            width: 250px;
            margin: 0 auto 2rem;
            display: block;
        }

        .titulo-borda {
            width: auto;
            font-size: 1rem;
        }
    }
}
