.servicos-geral {
    padding-bottom: 0;

    h4 {
        color: $cor-vinho;
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 1.5rem;
    }

    h5 {
        color: $cor-chumbo;
        margin-bottom: 1rem;
        font-weight: 600;	
    }

    a, a:visited, a:hover, a:active {
        text-decoration: none;
    }

    a:hover {
        h5 {
            color: $cor-vinho;
        }
    }

    .row {
        text-align: center;

        div {
            margin-bottom: 2rem;
            @include media-breakpoint-up(lg) {
                margin-top: 2rem;
                margin-bottom: 3rem;
            }
        }

        li {
            display: inline-block;
            position: relative;
            margin-left: 12px;

            i {
                font-size: 5px;
                position: absolute;
                top: 10px;
                left: -10px;
            }
        }
    }
}
