/* Limit image width to avoid overflow the container */
img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}

#canvas {
    height: 600px;
    width: 100%; /* 600px; */
    background-color: #ffffff;
    cursor: default;
    border: 1px solid black;
}

/* Custom styles for this template */
body {
    overflow-y: scroll;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

#result {
    margin-top: 5rem;
}
  